# Local development
NUXT_PUBLIC_API_BASE=http://localhost:8000/api
NUXT_PUBLIC_SITE_URL=http://localhost:3000

# Production
# NUXT_PUBLIC_API_BASE=https://api.vuejobs.in/api
# NUXT_PUBLIC_SITE_URL=https://vuejobs.in
